<%- include("../partials/header") %>

    <ul>
		<li>image: <%= post.image %></li>
        <li>caption: <%= post.caption %></li>
		<li>tag: <%= post.tag.name %></li>
		<li>author: <% post.user.name %></li>
	</ul>
	<!-- edit, delete button (author only can see) need more work -->

	<h4>Comments</h4>
	<% if (post.comments.length) { %>
		<% post.comments.forEach(comment => { %>
		
			<%if (`${foundComment._id}` === `${comment._id}`) {%>
				<form action="/comments/<%= comment._id %>?_method=PUT" method="POST">
					<label for="content">Comment: </label>
					<input type="text" name="content" value="<%= foundComment.content %>" />
					<input type="submit" value="Update" />
				</form>
				<form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
					<input type="submit" value="Delete Comment" />
				</form>
			<%} else {%>
				<p> <%= comment.content %></p>
			<%}%>		
		<% }); %>
	<% } %>
</body>
</html>