<%- include("../partials/header") %>
<body>
    <!-- <h3><%=foundtag.name%></h3> -->
    <div class="flex-container">
        <nav class="tagNav">
            <ul style="list-style: none;">
                <% tags.forEach(tag => {%>
                    
                    <%if (`${tag._id}` === `${foundtag._id}`) {%>
                        <li><a href="/tags/<%=tag._id%>"><strong><%=tag.name%></strong></a></li></strong>
                    <%} else {%>
                        <li><a href="/tags/<%=tag._id%>"><%=tag.name%></a></li>
                    <%}%>

                <%})%>
            </ul>
        </nav>
        <main class="posts">
        <% foundtag.posts.forEach(post => { %>
            <article>
                <a href="/posts/<%=post._id%>"><%= post.caption %></a>
            </article>
        <% }); %>
        </main>
    </div>
</body>
</html>
