<%- include("../partials/header") %>
<%= user.name %>
<a href="/users/<%=user._id%>/edit">Profile</a>
    <h3>My Page</h3>
    <ul>
        <% user.posts.forEach(post => { %>
        <li>
            <a href="/posts/<%=post._id%>"><%= post.title %></a>
        </li>
        <%})%>
    </ul>

</body>
</html>


