<%- include("../partials/header") %>
<h3><%= user.name %></h3>
<img src="http://localhost:4000/<%= user.avatarUrl%>" alt="">

<a href="/users/<%=user._id%>/edit">Edit Profile</a>
    <h3>My posts</h3>
    <ul>
        <% user.posts.forEach(post => { %>
        <li>
            <a href="/posts/<%=post._id%>"><%= post.caption %></a>
            <img src="http://localhost:4000/<%= post.image %>" alt="<%= post.caption %>"> 
        </li>
        <%})%>
    </ul>

</body>
</html>


