<%- include("../partials/header") %>
<body>

    <h3>All Posts</h3>
    <% if (!posts.length) { %>
        <p>No posts yet</p>
    <% } else { %>
    <ul>
        <% posts.forEach(post => { %>
            <li><a href="/posts/<%=post._id%>"><%= post.caption %></a></li>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
				<input type="submit" value="Delete" />
			</form>
    </ul>
        <% }); %>
    <% } %>


    <div class="flex-container">
        <nav class="tagNav">
            <ul style="list-style: none;">
                <li><a href="#">#TagName1</a></li>
                <li><a href="#">#TagName2</a></li>
                <li><a href="#">#TagName3</a></li>
            </ul>
        </nav>
        <main class="posts">
            <% if (!posts.length) { %>
            <p>No posts yet</p>
            <% } else { %>
                <% posts.forEach(post => { %>
                    <article>
                        <a href="/posts/<%=post._id%>"><%= post.caption %></a>
                    </article>
                <% }); %>
            <% } %>
        </main>
</div>
<p>Temporary navigator</p>
<ul>
    <li><a href="/users">All Users ( /users )</a></li>
</ul>

<%- include("../partials/footer") %>
</body>
</html>

