<%- include("../partials/header") %>
<body>

    <div class="flex-container">
        <nav class="tag-nav">
            <ul style="list-style: none;">
                <% tags.forEach(tag => {%>
                    <li>
                        <a href="tags/<%=tag._id%>"><%=tag.name%></a>
                    </li>
                    <%})%>
            </ul>
        </nav>
        <main class="posts-index">
            <% posts.forEach(post => { %>
                <a class="render-post-grid" href="posts/<%=post._id%>">
                    <div class="render-post-img" style="background-image: url('<%= post.image %>');">
                    <div class="overlay"><%=post.caption%></div>
                    </div>
                </a>
            <% }); %>
        </main>
</div>

<%- include("../partials/footer") %>
</body>
</html>
