<%- include("../partials/header") %>
<body>
    <main>
        <form id="new-form" action="/posts" method="POST" enctype="multipart/form-data">
            <label>Image:</label>
            <input type="file" name="image" placeholder="Choose a file">
            <label>Caption:</label>
            <textarea type="text" name="caption" placeholder="Add a caption!"><%=post.caption%></textarea>
            <label>Tag:</label>
            <select name="tag">
                <option value="test">tag</option>
                <% tags.forEach ( tag => { %>
                <option value="<%= tag._id %>"><%= tag.name %></option>
                <% }) %>
            </select>
            <label>User:</label>
            <select name="user">
                <option value="test">user</option>
                <% users.forEach ( user => { %>
                <option value="<%= user._id %>"><%= user.name %></option>
                <% }) %>
            </select>
            <input type="submit" value="Save">
            <a href="/posts">Cancel</a>
        </form>
    </main>
</body>
</html>