<%- include("../partials/header") %>

    <ul>
		<li>image: <%= post.image %></li>
        <li>caption: <%= post.caption %></li>
		<li>tag: <%= post.tag.name %></li>
		<li>author: <% post.user.name %></li>

		<h4>Comments</h4>
		<% post.comments.forEach(comment => { %>
		<li>
			<a href="/comments/<%=comment._id%>"><%= comment.content %></a>
		</li>
		<%})%>
    </ul>

</body>
</html>


