<%- include("../partials/header") %>
<a href="/posts/<%=post._id%>/edit">Profile</a>

    <h3>My Post</h3>
    <ul>
		<li>image: <%= post.image %></li>
        <li>caption: <%= post.caption %></li>
		<% post.comments.forEach(comment => { %>
		<li>
			<a href="/comments/<%=comment._id%>"><%= comment.content %></a>
		</li>
		<%})%>
    </ul>

</body>
</html>


